## Introduction to **variables**

# Variables in Python
Variables are like containers that hold data values. They allow you to store information in your programs and refer to it later by a name. Think of them as labels you attach to data.

## Assigning Values to Variables

In Python, you assign a value to a variable using the equals sign (`=`). The variable name goes on the left side of the `=`, and the value you want to store goes on the right side.
python

In [ ]:
x = 10
name = "Alice"
is_student = True

#Here, `x` is a variable holding the integer value `10`, `name` is a variable holding the string value `"Alice"`, and `is_student` is a variable holding the boolean value `True`.

## Variable Naming Conventions

Choosing good variable names is important for writing readable code. Python has specific rules for valid variable names and also common conventions that most programmers follow.

### Rules for Valid Variable Names:

*   Variable names must start with a letter (a-z, A-Z) or an underscore (`_`).
*   The rest of the name can contain letters, numbers (0-9), and underscores.
*   Variable names are case-sensitive (`my_variable` is different from `My_Variable`).
*   Reserved keywords (like `if`, `for`, `while`, `class`, etc.) cannot be used as variable names.

### Common Naming Conventions (PEP 8 - Python's style guide):

*   Use lowercase letters for variable names.
*   Use underscores (`_`) to separate words in a variable name (e.g., `my_variable`, `total_count`). This is called `snake_case`.
*   Avoid using single-letter variable names (like `x`, `y`) unless it's for short loops or simple temporary values.
*   Choose names that are descriptive and indicate the purpose of the variable.

# Examples of valid variable assignments

In [ ]:
my_integer = 100

In [ ]:
user_name = "Bob"

In [ ]:
is_active = False

In [ ]:
price_in_usd = 25.75

In [ ]:
_internal_variable = "This starts with an underscore"

In [ ]:
print(my_integer)
print(user_name)
print(is_active)
print(price_in_usd)
print(_internal_variable)

100
Bob
False
25.75
This starts with an underscore

# example of Invalid Variable Names

In [ ]:

1variable =  5                       #(starts with a number)
my-variable = 6                     #(contains a hyphen)
for = 12                             #(is a reserved keyword)
my variable = "1fjbd"                     #(contains a space)
my-variable = "invalid"                   # Contains a hyphen
class = "invalid"                        # Is a reserved keyword

## Variable Types

Variables in Python can hold different types of data. The type of data a variable holds determines what kind of operations you can perform on it. Python is dynamically typed, which means you don't need to explicitly declare the type of a variable; Python infers it based on the value assigned.

Here are four basic variable types:

*   **Integers (`int`)**: Whole numbers, positive or negative, without decimals. Examples: `10`, `-5`, `0`.
*   **Floats (`float`)**: Numbers with a decimal point, representing real numbers. Examples: `3.14`, `-0.001`, `2.0`.
*   **Strings (`str`)**: Sequences of characters, enclosed in single quotes (`'`) or double quotes (`"`). Examples: `"Hello"`, `'Python'`, `"123"`.
*   **Booleans (`bool`)**: Represent truth values, either `True` or `False`. These are typically used in conditional statements.

# Create variables of different types

In [ ]:
my_integer = 10
type(my_integer)

In [ ]:
my_float = 3.14
type(my_float)

In [ ]:
my_string = "Hello, world!"
type(my_string)

In [ ]:
my_boolean = True
type(my_boolean)


## Exercises

1.  Create a variable named `age` and assign your age as an integer.

2.  Create a variable named `height` and assign your height in meters as a float.

3.  Create a variable named `greeting_message` and assign a short message as a string.

4.  Create a variable named `is_sunny` and assign `True` or `False` depending on the weather.

5.  Try assigning a number in quotes (e.g., `"123"`) to a variable and use `type()` to see what type it is. Explain why this is the case.

## Introduction to Lists

Lists are ordered collections of items. They are one of the most versatile data structures in Python and can hold items of different data types. You can think of a list as a sequence of elements enclosed in square brackets `[]`, where each element has an index starting from 0.

### Creating Lists

You can create a list by placing items inside square brackets `[]`, separated by commas.

In [ ]:
# An empty list
empty_list = []
print(empty_list)

In [ ]:
# A list of integers
numbers = [1, 2, 3, 4, 5]
print(numbers)

In [ ]:
# A list of strings
fruits = ["apple", "banana", "cherry"]
print(fruits)

In [ ]:
# A list with mixed data types
mixed_list = [1, "hello", 3.14, True]
print(mixed_list)

### Accessing List Items

You can access individual items in a list using their index. The index of the first item is 0, the second is 1, and so on. You can also use negative indices to access items from the end of the list (e.g., -1 for the last item, -2 for the second to last).

In [ ]:
fruits = ["apple", "banana", "cherry", "date"]
fruits[0]

'apple'

In [ ]:
fruits[2]

'cherry'

In [ ]:
fruits[-1]

'date'

In [ ]:
fruits[-2]

'cherry'

### Getting the Length of a List

The `len()` function returns the number of items in a list.

In [ ]:
fruits = ["apple", "banana", "cherry", "date"]
len(fruits)

4

### Modifying List Items

Lists are mutable, which means you can change, add, or remove items after the list is created.

#### Changing an Item

You can change the value of an item by referring to its index.

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits[1] = "blueberry"
fruits

['apple', 'blueberry', 'cherry']

#### Adding Items (`append()`)

The `append()` method adds an item to the end of the list.

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
fruits

['apple', 'banana', 'cherry', 'orange']

#### Removing Items (`pop()`)

The `pop()` method removes the item at the specified index. If you don't specify an index, it removes the last item.

In [ ]:
fruits = ["apple", "banana", "cherry"]

# Remove the last item
fruits.pop()
fruits

['apple', 'banana']

In [ ]:
fruits.pop(0)
fruits

['banana']

### Exercises

1. Create a list called `colors` with at least 5 different colors.

2. Print the first and the last color in the `colors` list.

3. Print the length of the `colors` list.

4. Change the second color in the `colors` list to 'yellow'.

5. Add a new color to the end of the `colors` list.

6. Remove the third color from the `colors` list.

7. Print the `colors` list after all the modifications.

## Introduction to Sets

Sets are unordered collections of unique items. They are useful for operations involving membership testing and eliminating duplicate entries. Sets are enclosed in curly braces `{}` or created using the `set()` constructor.

### Creating Sets

You can create a set by placing items inside curly braces `{}` separated by commas, or by converting a list or tuple to a set using `set()`.

In [ ]:
# A set of integers
my_set = {1, 2, 3, 4, 5}
my_set

In [ ]:
# Creating a set from a list (duplicates are removed)
my_list = [1, 2, 2, 3, 4, 4, 5]
set_from_list = set(my_list)
set_from_list

In [ ]:
my_set1 = {1, 1, 3, 5, 7, 8}
my_set1

{1, 3, 5, 7, 8}

### Set Operations

Sets support mathematical set operations like union, intersection, difference, and symmetric difference.

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Union (all unique elements from both sets)
union_set = set1 | set2
union_set

{1, 2, 3, 4, 5, 6}

In [ ]:
# Intersection (common elements)
intersection_set = set1 & set2
intersection_set

{3, 4}

In [ ]:
# Difference (elements in set1 but not in set2)
difference_set = set1 - set2
difference_set

{1, 2}

### Adding and Removing Items from Sets

You can add items to a set using the `add()` method and remove items using the `remove()` or `discard()` methods. `remove()` will raise an error if the item is not found, while `discard()` will not.

In [ ]:
my_set = {1, 2, 3}
my_set.add(4)
print(f"After adding 4: {my_set}")

my_set.remove(2)
print(f"After removing 2: {my_set}")

my_set.discard(5) # No error if 5 is not in the set
print(f"After discarding 5: {my_set}")

### Exercises

1. Create a set called `fruits_set` with at least 4 different fruits.

2. Add a new fruit to the `fruits_set`.

3. Remove a fruit from the `fruits_set` using `discard()`.

4. Create two sets, `set_a` and `set_b`, with some common and some unique elements.

5. Find the union of `set_a` and `set_b`.

6. Find the intersection of `set_a` and `set_b`.

7. Print the `fruits_set` after modifications, the union, and the intersection.

## Introduction to Dictionaries

Dictionaries are unordered collections of key-value pairs. They are used to store data values like a map, which, unlike sequence types (like lists or tuples), that use an integer index, use keys to access items. Keys are unique and immutable (like strings, numbers, or tuples), while values can be of any data type. Dictionaries are enclosed in curly braces `{}` with key-value pairs separated by commas, in the form `key: value`.

### Creating Dictionaries

You can create a dictionary by placing key-value pairs inside curly braces `{}` separated by commas.

In [ ]:
# An empty dictionary
empty_dict = {}
empty_dict

In [ ]:
# A dictionary with some key-value pairs
person = {"name": "Alice", "age": 30, "city": "New York"}
person

### Accessing Dictionary Items

You can access the value associated with a key by placing the key inside square brackets `[]` after the dictionary name, or by using the `get()` method. The `get()` method is preferred as it returns `None` if the key is not found, instead of raising an error.

In [ ]:
person = {"name": "Alice", "age": 30, "city": "New York"}

# Accessing value using square brackets
person["name"]

In [ ]:
# Accessing value using get()
person.get("age")

In [ ]:
# Trying to access a non-existent key using get()
person.get("gender")

### Modifying Dictionaries

Dictionaries are mutable. You can add new key-value pairs, change the value of an existing key, or remove key-value pairs.

#### Adding or Changing Items

To add a new item or change the value of an existing key, you use the assignment operator `=`.

In [ ]:
person = {"name": "Alice", "age": 30, "city": "New York"}

# Adding a new key-value pair
person["email"] = "alice@example.com"
person

{'name': 'Alice', 'age': 30, 'city': 'New York', 'email': 'alice@example.com'}

In [ ]:
# Changing the value of an existing key
person["age"] = 31
person

{'name': 'Alice', 'age': 31, 'city': 'New York', 'email': 'alice@example.com'}

#### Removing Items

You can remove a key-value pair using the `pop()` method (specifying the key) or the `del` keyword.

In [ ]:
person = {"name": "Alice", "age": 31, "city": "New York", "email": "alice@example.com"}

# Removing using pop()
removed_city = person.pop("city")
person
removed_city

'New York'

In [ ]:
# Removing using del
del person["email"]
person

### Exercises

1. Create a dictionary called `car` with keys for 'make', 'model', and 'year'. Assign appropriate values.

2. Access and print the 'model' of the car.

3. Add a new key-value pair 'color' to the `car` dictionary.

4. Change the 'year' of the car to a new value.

5. Remove the 'make' key-value pair from the dictionary.

6. Print the `car` dictionary after all modifications.

## The print() Command (For Displaying Output)
The print() command is the simplest way to show information to the user or to yourself within your coding environment. This command displays the content inside its parentheses directly to the output (the console or the Jupyter cell output).

In [ ]:

final_score = 95


print("Well done!")
print("Your score is:")
print(final_score)

# You can print multiple items at once
print("Student's grade:", final_score, "out of 100")

Well done!
Your score is:
95
Student's grade: 95 out of 100

## The type() Command (For Checking Data Type)
In Python, every variable or value you define has a specific type. The type() command tells you exactly what kind of data a particular object or variable holds. Knowing the data type is critical for preventing errors (e.g., trying to add a piece of text and a number).

## Core Data Types:
<ul>
<li><strong>int (Integer)</strong> : Whole numbers (no decimals) like 10, -5.</li>

<li><strong>float (Floating Point)</strong> : Decimal numbers like 3.14, 0.5.</li>

<li><strong>str (String)</strong> : Text (enclosed in quotes) like "Python", "A".</li>

<li><strong> (Boolean)</strong> : Logical values, either True or False.</li>

<li><strong>list (List)</strong> : A collection of items, defined with square brackets [].</li>

In [ ]:
# Define variables of different types
age = 15
price = 99.99
message = "Programming"
is_active = True
student_list = ["Arash", "Sara", "Kimiya"]



print("Type of age:", type(age))
print("Type of price:", type(price))
print("Type of message:", type(message))
print("Type of is_active:", type(is_active))
print("Type of student_list:", type(student_list))

Type of age: <class 'int'>
Type of price: <class 'float'>
Type of message: <class 'str'>
Type of is_active: <class 'bool'>
Type of student_list: <class 'list'>